html{text-align:center;}
button{font-size:1.75em}

input[type="text"]{
font-size:2em;
width:95%;
}

input[placeholder="name"]{
background-color:wheat;  
  
}
  

.scoreEntry{
  border-top:3px solid gray;
  padding:10px;
}

.score{
  font-size:2.5em;
  
}

.hide{
  display:none;
}



.drawForward{
  animation:up 0.5s forwards;
}
@keyframes up {
  from {
    margin-top:0px;
  }
  to {
    margin-top:-262px;
  }
}

.drawBackward{
  animation:down 0.5s forwards;
}
@keyframes down{
  from {
    margin-top:-262px;
  }
  to {
    margin-top:0px;
  }
}

.slide{
  animation:righttoleft 0.5s forwards;
}
@keyframes righttoleft {
  from {
    transform: translateX(25%);
  }
  to {
    transform: translateX(0%);
  }
}


